:root {
    --primaryColor: white;
    --primaryBackgroundColor: black;
    --primaryFontStack: 'Space Mono', monospace;
    --secondaryColor: rebeccapurple;
    --highlightColor: #03a9f4;
    --highlightColorAlt: pink;
}

html {
    background: var(--primaryBackgroundColor);
    color: var(--primaryColor);
}

body {
    width: 210px;
    margin: 0 auto;
    font-family: var(--primaryFontStack);
}

header h1 {
    margin: 1em 0 0.65em 0;
    font-size: 4em;
    line-height: 0.5em;

    padding: 0;
    text-transform: uppercase;
}

header .last_name {
    text-shadow: 1px 1px 0 var(--primaryBackgroundColor);
}

p.head {
    text-align: left;
    text-align: center;
    color: var(--secondaryColor);
}

.intro p {
    margin: 1em 0 0.65em 0;
    padding: 0;
    text-align: left;  
}

.cool {
    color: var(--highlightColor);
    text-decoration: none;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
}

.cool:hover {
    border-bottom: 1px solid var(--secondaryColor);
}

.color:visited {
    color: var(--secondaryColor);
}

header, section {
    text-align: center;
}

.intro {
    width: 240px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
ul li {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

ul li a {
    margin: 0;
    padding: 0;
    display: block;
    border: 1px dotted var(--secondaryColor);
}

ul li:hover {
    color: black;
    transition: background 0.25s ease-in-out;
}

ul li:hover a {
    color: var(--primaryBackgroundColor);
    transition: color 0.25s ease-in-out;
    background-color: var(--highlightColorAlt);
}
